html {
  background: url("https://ak3.picdn.net/shutterstock/videos/5500757/thumb/1.jpg?i10c=img.resize(height:160)") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: black;
  text-align: center;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px 5px 20px 5px;
  border-radius: 5px;
}

.container {
  width: 600px;
  margin: auto auto;
}

article {
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.6);
  padding:10px 0px 10px 10px;
  color: black;
  margin-top: -20px;
  border-radius: 5px;
}
#restartButton {
  width:200px;
  height: 50px;
  border-radius: 5px;
  margin: 5px 200px 0px 200px;
  border: 2px solid white;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  transition: all 0.5s;
    visibility: hidden;
}
#restartButton:hover {
  border: 2px solid black;
  background-color:rgba(255,255,255,1);
  color: black;
  letter-spacing: 2px;
  font-size: 20px;
}
.guess {
  text-align: center;
}
.green{
  color: green;
}
.red{
  color:red;
}
.blue{
  color:blue;
}
